body {
  background-color: #821797;
  h1 {
    color: yellow;
    background-color: #005467;
   border: 5px rgb(235, 41, 41) solid
  }
  h2 {
    color: aqua;
    background-color: blueviolet;
  }
  li {
    color: yellow;
  }

  background-image: url(v1016-b-09.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;
  margin: 5px;
}
