.RV {
  color: rgb(17, 0, 255);
  font-size: 50px;
  background-image: url(/CSS/02/v1016-b-09.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#LetraM{
    color: purple;
    font-family: 100px;

}
